{% extends 'base.html' %}


{% block content %}
{% if  user.is_authenticated %}
<h2> {{ user.username   }} Profile</h2>
<div> 
    <p>Username: {{ user.username}}</p>
    <p>First Name: {{ user.first_name}}</p>
    <p>Last Name: {{ user.last_name}}</p>
    <p>Update your profile</p>
    <a href="{% url 'update-profile' user.id %}">UPDATE</a>
<div>
    <h3>Events you are the administrator</h3>
    {% for  event in events %}
    {% if event.administrator == request.user %}
    {{ event }}
    {% endif %}
    {% if request.user == event.administrator %}
    <ul>
      
       <a href="{% url 'event-update' event.id %}" class="btn btn-outline-secondary"> Update</a></li>
      <li class="list-group-item"><a href="{% url 'event-delete' event.id %}" class="btn btn-outline-danger"> Delete</a></li>
    </ul>
    {% endif %}
    {% endfor %}
    <h3>Events in which you participate</h3>
    
    
    
    {% for event in events %}
    <div>
    <a href="{% url 'event-details' event.id %}">{{ event }}</a>
    </div>
    <div>
    
    </div>
    
    {% endfor %}
    
    
</div>

     
{% endif %}
      
    
{% endblock content  %}